NodeRedJSIoTReciever.json
[{"id":"67701582.8d79fc","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"C1MSPPCKH3QF","applicationId":"","deviceType":"myLappy","eventType":"capture_store","commandType":"","format":"json","name":"camera_capture_IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":140,"y":666,"wires":[["7ed3e715.ab96d8"]]},{"id":"34c4e0fd.35677","type":"function","z":"deb0d57.1c46528","name":"fetchIMGPayload","func":"var processed_count = global.get(\"processed\");\nif(processed_count==3 && global.get(\"htmlresult\").trim() !== \"\")\n{\nvar img_id = global.get(\"img_id\");\nvar img_base64 = global.get(\"img_base64\");\nvar result = \"<html><body>\"+global.get(\"htmlresult\")+\"</body></html>\";\nvar db_record = {\"img_id\":img_id,\"img_result_html\":result,\"_id\":img_id,\"img_base64\":img_base64};\n\nglobal.set(\"last_db_rec\",db_record);\nreturn {payload:db_record};\n}","outputs":1,"noerr":0,"x":786.5,"y":476,"wires":[["1ed2c397.8dcc4c"]]},{"id":"e722ac5f.ae14d","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"C1MSPPCKH3QF","deviceType":"myLappy","eventCommandType":"refreshUI","format":"text","data":"msg.payload","qos":"0","name":"notifyToDevice","service":"registered","x":1033,"y":655,"wires":[]},{"id":"4f6d5b27.249964","type":"function","z":"deb0d57.1c46528","name":"fetchID","func":"var img_id = global.get(\"img_id\");\nreturn {payload:img_id};","outputs":1,"noerr":0,"x":996.5,"y":519,"wires":[["e722ac5f.ae14d"]]},{"id":"b854c72c.97ed88","type":"function","z":"deb0d57.1c46528","name":"vrFunction","func":"var img_base64 = msg.payload.img_base64;\nvar img_id = msg.payload.img_id;\nglobal.set(\"img_base64\",img_base64);\nglobal.set(\"img_id\",img_id);\nglobal.set(\"htmlresult\",\"\");\nglobal.set(\"processed\",0);\nglobal.set(\"exception\",0);\n\nvar classifiers_lst=[];\nclassifiers_lst.push(\"default\");\nvar cnt = 0;\nif(msg.result){\n    if(msg.result.classifiers.length > 0){\n        for(i=0;i<msg.result.classifiers.length;i++){\n            if(msg.result.classifiers[i].status == \"ready\"){\n                classifiers_lst.push(msg.result.classifiers[i].classifier_id);\n            }\n        }\n    }\n}\n\nreturn {payload:img_base64,params:{\"classifier_ids\":classifiers_lst}};","outputs":1,"noerr":0,"x":118,"y":483,"wires":[["c535637b.d1fb8"]]},{"id":"c0ab3708.f52948","type":"visual-recognition-v3","z":"deb0d57.1c46528","name":"classifyImage","apikey":"","image-feature":"classifyImage","lang":"en","x":327,"y":408,"wires":[["9cbef891.02aa18","e25b9233.aa197"]]},{"id":"b9eb05ee.6aed18","type":"visual-recognition-v3","z":"deb0d57.1c46528","name":"detectFaces","apikey":"","image-feature":"detectFaces","lang":"en","x":348,"y":494,"wires":[["32dffe71.2fdde2"]]},{"id":"8e39e407.f63548","type":"visual-recognition-v3","z":"deb0d57.1c46528","name":"RecText","apikey":"","image-feature":"recognizeText","lang":"en","x":344,"y":581,"wires":[["dd2bbeb9.d7ca4"]]},{"id":"c535637b.d1fb8","type":"base64","z":"deb0d57.1c46528","name":"","x":114.5,"y":413,"wires":[["c0ab3708.f52948","b9eb05ee.6aed18","8e39e407.f63548"]]},{"id":"9cbef891.02aa18","type":"function","z":"deb0d57.1c46528","name":"classifierHTML","func":"var json_obj = msg;\n\nvar result = \"\";\nif(!json_obj.watsonerror && json_obj.result.images.length > 0)\n{\nfor (i = 0; i < json_obj.result.images.length; i++) \n    {\n        var img = json_obj.result.images[i];\n        for(j=0;j<img.classifiers.length;j++){\n            var classifier = img.classifiers[j];\n            for(k=0;k<classifier.classes.length;k++){\n                var claz = classifier.classes[k];\n                result = result + \"<br/>\"+claz.class+\":\"+claz.score;\n            }\n        }\n    }\n}\n\nvar htmlresult = global.get(\"htmlresult\");\nglobal.set(\"htmlresult\",htmlresult+result);\n\nvar processed = global.get(\"processed\");\nprocessed++;\nglobal.set(\"processed\",processed);\n\nreturn {classifierpayload:result};","outputs":1,"noerr":0,"x":554.5,"y":407,"wires":[["34c4e0fd.35677"]]},{"id":"32dffe71.2fdde2","type":"function","z":"deb0d57.1c46528","name":"detectFacesHTML","func":"var json_obj = msg;\n\nvar result = \"\";\nif(!json_obj.watsonerror && json_obj.result.images.length > 0)\n{\nfor (i = 0; i < json_obj.result.images.length; i++) \n    {\n        var img = json_obj.result.images[i];\n        for(j=0;j<img.faces.length;j++){\n            var face = img.faces[j];\n            if(face.age){\n                result = result + \"<br/>min age:\"+face.age.min+\", max age:\"+face.age.max+\", score:\"+face.age.score;}\n            if(face.gender){\n                result = result + \"<br/>\"+face.gender.gender+\":\"+face.gender.score;\n            }\n            if(face.identity){\n                result = result + \"<br/>identity:\"+face.identity.name+\", score:\"+face.identity.score;\n            }\n        }\n    }\n}\n\nvar htmlresult = global.get(\"htmlresult\");\nglobal.set(\"htmlresult\",htmlresult+result);\n\nvar processed = global.get(\"processed\");\nprocessed++;\nglobal.set(\"processed\",processed);\n\nreturn {detectfacespayload:result};","outputs":1,"noerr":0,"x":547.5,"y":474,"wires":[["34c4e0fd.35677"]]},{"id":"dd2bbeb9.d7ca4","type":"function","z":"deb0d57.1c46528","name":"textRecHTML","func":"var json_obj = msg;\n\nvar result = \"\";\nif(!json_obj.watsonerror && json_obj.result.images.length > 0)\n{\nfor (i = 0; i < json_obj.result.images.length; i++) \n    {\n        var img = json_obj.result.images[i];\n        if(img.text){\n            result = result+\"<br/>text:\"+img.text;\n        }\n        if(img.words){\n        for(j=0;j<img.words.length;j++){\n            result = result + \"<br/>word:\"+img.words[j].word+\", score:\"+img.words[j].score;\n            if(j==5)\n                break;\n        }\n        }\n    }\n}\n\nvar htmlresult = global.get(\"htmlresult\");\nglobal.set(\"htmlresult\",htmlresult+result);\n\nvar processed = global.get(\"processed\");\nprocessed++;\nglobal.set(\"processed\",processed);\n\nreturn {textrecpayload:result};","outputs":1,"noerr":0,"x":535.5,"y":580,"wires":[["34c4e0fd.35677"]]},{"id":"1ed2c397.8dcc4c","type":"json","z":"deb0d57.1c46528","name":"","pretty":true,"x":972.5,"y":435,"wires":[["1aeaba51.bbf506","cb9cc362.2cd5b"]]},{"id":"1aeaba51.bbf506","type":"cloudant out","z":"deb0d57.1c46528","name":"","cloudant":"","database":"scavengerimagesdb","service":"arpitCameraIOT-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1061.5,"y":342,"wires":[]},{"id":"cb9cc362.2cd5b","type":"delay","z":"deb0d57.1c46528","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":789.5,"y":576,"wires":[["4f6d5b27.249964"]]},{"id":"3de2e313.d74eac","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"checkForPublishIoT","payloadType":"str","repeat":"7","crontab":"","once":false,"x":235.5,"y":755,"wires":[["557b2d1b.f0e264"]]},{"id":"647cab3d.723274","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"C1MSPPCKH3QF","deviceType":"myLappy","eventCommandType":"checkForPublishIoT","format":"text","data":"msg.payload","qos":0,"name":"checkForPublishIoT","service":"registered","x":958.5,"y":741,"wires":[]},{"id":"5aa3c034.29663","type":"catch","z":"deb0d57.1c46528","name":"classifyImgErr","scope":["c0ab3708.f52948"],"x":304.5,"y":267,"wires":[["256c7354.0f99dc"]]},{"id":"256c7354.0f99dc","type":"function","z":"deb0d57.1c46528","name":"setErrCnt","func":"var cnt = global.get(\"exception\");\ncnt++;\nglobal.set(\"exception\",cnt);\nreturn msg;","outputs":1,"noerr":0,"x":513.5,"y":264,"wires":[[]]},{"id":"6f913dff.99f8d4","type":"catch","z":"deb0d57.1c46528","name":"detectFaces","scope":["b9eb05ee.6aed18"],"x":304.5,"y":309,"wires":[["e1a25a1.9f517a8"]]},{"id":"e1a25a1.9f517a8","type":"function","z":"deb0d57.1c46528","name":"setErrCnt","func":"var cnt = global.get(\"exception\");\ncnt++;\nglobal.set(\"exception\",cnt);\nreturn msg;","outputs":1,"noerr":0,"x":514.5,"y":307,"wires":[[]]},{"id":"7f6aba3c.a76b34","type":"catch","z":"deb0d57.1c46528","name":"textRecognition","scope":["8e39e407.f63548"],"x":312.5,"y":350,"wires":[["1b5e4f6c.0314c1"]]},{"id":"1b5e4f6c.0314c1","type":"function","z":"deb0d57.1c46528","name":"setErrCnt","func":"var cnt = global.get(\"exception\");\ncnt++;\nglobal.set(\"exception\",cnt);\nreturn msg;","outputs":1,"noerr":0,"x":513.5,"y":352,"wires":[[]]},{"id":"557b2d1b.f0e264","type":"function","z":"deb0d57.1c46528","name":"checkForException","func":"var cnt = global.get(\"exception\");\nif(cnt===undefined || cnt <3){\ncnt=0;\nglobal.set(\"exception\",0);\nreturn {payload:0};\n}\nif(cnt == 3){\n  global.set(\"exception\",0); \n  return {payload:3}\n}\n","outputs":1,"noerr":0,"x":516.5,"y":722,"wires":[["b0fc26b7.1d3408"]]},{"id":"b0fc26b7.1d3408","type":"switch","z":"deb0d57.1c46528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"lt","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":765.5,"y":660,"wires":[["e722ac5f.ae14d"],["647cab3d.723274"]]},{"id":"7ed3e715.ab96d8","type":"visual-recognition-util-v3","z":"deb0d57.1c46528","name":"getClassifiers","apikey":"","image-feature":"retrieveClassifiersList","x":124.5,"y":566,"wires":[["b854c72c.97ed88"]]},{"id":"b6bcd8f9.dff188","type":"catch","z":"deb0d57.1c46528","name":"catchDBException","scope":["1aeaba51.bbf506"],"x":749.5,"y":308,"wires":[["a97931b.01e15d"]]},{"id":"a97931b.01e15d","type":"function","z":"deb0d57.1c46528","name":"getLastDBRec","func":"var rec = global.get(\"last_db_rec\");\nreturn {payload:rec};","outputs":1,"noerr":0,"x":796.5,"y":400,"wires":[["1ed2c397.8dcc4c"]]},{"id":"e25b9233.aa197","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"true","x":104.5,"y":302,"wires":[]}]