NodeRedJSIoTReciever.json
[{"id":"67701582.8d79fc","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"C1MSPPCKH3QF","applicationId":"","deviceType":"myLappy","eventType":"capture_store","commandType":"","format":"json","name":"camera_capture_IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":110.5,"y":615,"wires":[["2a898090.7a122","34c4e0fd.35677","4f6d5b27.249964"]]},{"id":"2a898090.7a122","type":"debug","z":"deb0d57.1c46528","name":"IMGbase64","active":false,"console":"true","complete":"payload","x":140,"y":800,"wires":[]},{"id":"34c4e0fd.35677","type":"function","z":"deb0d57.1c46528","name":"fetchIMGPayload","func":"return {payload:msg.payload};","outputs":1,"noerr":0,"x":410.5,"y":612,"wires":[["40f0bfd5.abaee"]]},{"id":"40f0bfd5.abaee","type":"cloudant out","z":"deb0d57.1c46528","name":"storeToDB","cloudant":"","database":"scavengerimagesdb","service":"arpitCameraIOT-cloudantNoSQLDB","payonly":true,"operation":"insert","x":652.5,"y":609,"wires":[]},{"id":"e722ac5f.ae14d","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"C1MSPPCKH3QF","deviceType":"myLappy","eventCommandType":"refreshUI","format":"text","data":"msg.payload","qos":"0","name":"notifyToDevice","service":"registered","x":660,"y":720,"wires":[]},{"id":"4f6d5b27.249964","type":"function","z":"deb0d57.1c46528","name":"fetchID","func":"\nreturn {payload:msg.payload.img_id};","outputs":1,"noerr":0,"x":418.5,"y":677,"wires":[["e722ac5f.ae14d","305eca2.2d25e36"]]},{"id":"305eca2.2d25e36","type":"debug","z":"deb0d57.1c46528","name":"img_id","active":true,"console":"false","complete":"payload","x":403.5,"y":785,"wires":[]}]